.input{
    height: 30px;
    width: 250px;
    border:  2px solid rgb(194, 165, 0); 
    border-radius:10px;
    font-size: 15px;
}

.input:hover{ 
    border:  2px solid rgb(80, 71, 18); 
    border-radius:10px;
}
.header{
   color:  rgb(66, 66, 66);
   font-size: 20px;

}